body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #5B3C88;
	padding: 8px 0;
}

.caixa {
	position: relative;
	width: 900px;
	margin: 0 auto;
	padding: 1px;
	text-align: center;
}

.logo-header {
	height: 149px;
	margin: 0 0 5px 0;
}

nav {
	position: relative;
	
}

nav li {
	display: inline;
	margin: 0 7.5px;
}

nav a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: #FFFFFF;
}

nav a:hover {
	color: #C0ADDB;
}

.logo-home {
	height: 20px;
	width: 25px;
	filter: brightness(100);
}

.logo-home:hover {
	filter: unset;
}

.principal strong {
	font-weight: bold;
}

.principal {
	width: 80%;
	margin: 0 auto;
}

.titulo-principal {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	margin: 10px 0 20px 0;
	padding: 10px;
	clear: left;
	color: #5B3C88;
}


.titulo-boasvindas{
	font-weight: bold;
	font-size: 22px;
	margin: 20px;
}

.boasvindas{
	font-style: italic;
	margin: 10px 20px;
}

.boasvindas em {
	font-weight: bold;
}

.subtitulo-principal {
	font-weight: bold;
	margin: 50px 20px 5px 20px;
}

.itens {
	margin: 10px 20px;
}

.itens:before{
	content: "▸";
}

.itens em {
	font-weight: bold;
	font-style: italic;
}

.lista-horarios {
	text-align: center;
	color: #5B3C88;
	font-weight: bold;
	font-size: 20px;
	margin: 10px auto;
	width: 825px
}

.descricão-lista-horarios {
	text-align: center;
	font-style: italic;
	width: 825px;
	margin: 0 auto;
}

.descricão-lista-horarios strong {
	font-weight: bold;
}


.planilha {
	display: block;
	position: relative;
	margin: 30px auto;
	width: 825px;
	height: 1390px;
}

.formulario {
	display: block;
	background: #5B3C88;
	position: relative;
	text-align: center;
	font-size: 16px;
	padding: 15px ;
	margin: 30px auto;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	border: solid 1px;
	border-radius: 10px;
	box-shadow: inset 0 0 10px #FFFFFF;
	width: 500px;
}
.formulario:hover {
	cursor: pointer;
	color: #C0ADDB;
	box-shadow: inset 0 0 10px #C0ADDB;
}

.apk-area {
	margin: 50px 0 20px 20px;
	height: 50px;
}

.logo-android {
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}

.apk-text {
	display: inline-block;
	color: #000000;
	vertical-align: middle;
}

.apk-download {
	text-decoration: none;
	color: #5B3C88;
	font-weight: bold;
}

.apk-download:hover {
	color: #C0ADDB;
}

.tutorial-download {
	text-decoration: none;
	color: #5B3C88;
	font-weight: bold;
}

.tutorial-download:hover {
	color: #C0ADDB;
}

.tutorial-video {
	text-decoration: none;
	color: #5B3C88;
	font-weight: bold;
}

.tutorial-video:hover {
	color: #C0ADDB;
}

footer {
	text-align: center;
	background: #5B3C88;
	margin: 20px 0 0 0;
	padding: 20px 0;
	width: auto;
}

.logo-footer {
	height: 50px;
}

.Londrina {
	color: #FFFFFF;
	font-size: 15px;
	margin: 15px;
}

/*Acessando em resolução menor*/

@media screen and (max-width: 900px) {
	.caixa {
		width: auto;
	}

	header {
		padding: 0 0 0 0 ;
	}

	.logo-header {
	display: none;
}
	
	.logo-home {
		height: 25px;
		width: 30px;
	}

	nav a {
		display: block;
		font-size: 18px;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.principal, .lista-horarios, .descricão-lista-horarios, .planilha {
		width: 90%;
	}

	.titulo-principal {
		font-size: 22px;
	}

	.titulo-boasvindas {
		font-size: 18px;
	}

	.formulario {
		width: 70%;
	}
}

/*Acessando pelo celular*/

@media screen and (max-width: 480px) {
	.caixa {
		width: auto;
        }

    .logo-android {
		width: 10%;
	}

	.apk-text {
		width: 80%;
	}

	.planilha {
		height: 500px;
	}
}
